<!DOCTYPE html>
<html lang="en">

<head class="head">
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/assets/css/overide.css">
     <link rel="stylesheet" href="/assets/css/header.css">
     <title>About Me</title>
</head>

<body>
     <nav class="header">
          <div class="logo">LOGO</div>
          <div class="toggle-theme"></div>
          <ul class="menu">
               <li><a href="/index.html" title="Home"><span>Home</span></a></li>
               <li><a href="/about.html" title="About"><span>About</span></a></li>
               <li><a href="/projects.html" title="Projects"><span>Projects</span></a></li>
          </ul>
     </nav>
     <!-- <h1 class ="title">INDEX</h1> -->
</body>

</html>