<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/overide.css" />
    <link rel="stylesheet" href="/assets/css/header.css" />
    <link rel="stylesheet" href="/assets/css/body.css" />
    <link rel="stylesheet" href="/assets/css/footer.css" />
    <script src="/assets/js/theme-toggle.js"></script>
    <title>Index</title>
  </head>

  <body>
    <nav class="header">
      <div class="logo">HPINGC</div>
      <ul class="menu">
        <li><button class="toggle-theme-btn">🌙</button></li>
        <li>
          <a href="/index.html" title="Home"><span>Home</span></a>
        </li>
        <li>
          <a href="/layout/about.html" title="About"><span>About</span></a>
        </li>
        <li>
          <a href="https://github.com/HaiPingCao" title="Projects"
            ><span>Github</span></a
          >
        </li>
      </ul>
    </nav>

    <footer class="footer">
      <div class="footer-content">
        <div class="footer-section">
          <h3>HPINGC</h3>
          <!-- <p>Innovative solutions for modern challenges</p> -->
        </div>
        <div class="footer-section">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/layout/about.html">About</a></li>
            <li><a href="/layout/projects.html">Projects</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h3>Contact</h3>
          <p>Email: dev@hpingc.io.vn</p>
          <!-- <p>Phone: (555) 123-4567</p> -->
        </div>
      </div>
      <!-- <div class="footer-bottom">
            <p>&copy; 2025 HPINGC. All rights reserved.</p>
        </div> -->
    </footer>
  </body>
</html>
