:root {
     --BackgroundColor: #fdd6b2;
     --ShadowColor: rgba(0, 0, 0, 0.1);
     --TextColor: rgb(0, 60, 255);
}
.nav {
     justify-content: space-between;
     align-items: center;
     display: flex;
     flex-wrap: wrap;


     background-color: var(--BackgroundColor);
     color: var(--TextColor);
}
.menu {
     display: flex;
     background-color: var(--BackgroundColor);
     color: var(--TextColor);

     list-style: none;
     word-break: keep-all;
     white-space: nowrap;
     overflow: auto;

     
}
.logo #menu {
     margin: auto 24px;
}

ul {
     display: block;
     margin-block-start: 1em;
     margin-block-end: 1em;
     padding-inline-start: 40px;
     unicode-bidi: isolate;
}
