/* Main content area styles */
main {
  max-width: var(--HeaderWidth); /* Adjusted to match header and footer */
  width: 100%;
  margin: 0 auto;
}

/* Hero section */
.hero {
  background-color: var(--CardBackground);
  border-radius: 10px;
  padding: 60px 20px;
  margin-bottom: 40px;
  text-align: left;
}
.hero-content {
  max-width: 800px;
  margin: 0 auto;
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--TextColor);
}
.hero p {
  font-size: 1.2rem;
}
