:root {
  --font-color: black;
  --font-size: 1rem;
  --content-gap: 30px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
}

.navbar {
  display: flex;

  justify-content: center;
  align-items: center;

  font-size: var(--content-font-size);
  position: sticky;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  z-index: 1;

  height: 80px;
  width: 100%;
  max-width: 750px;

  margin: 0 auto;
  padding: 0 50px;
}

.navbar_logo {
  display: flex;
  align-items: center;

  font-size: 1.2rem;
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
}

.navbar_menu {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  padding: 0 1rem;
  font-size: var(--font-size);
}

.navbar_menu li {
  margin: 0 0.5rem;
}

.navbar_menu a {
  color: inherit;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}

/* POST */

.article-single {
  justify-content: first baseline;
  align-items: center;

  margin: 0 auto;

  padding: 80px;

  width: 100%;
  max-width: 900px;
}

.post-header {
  margin-bottom: calc(var(--content-gap) * 2);
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

.entry-cover {
  margin-bottom: calc(var(--content-gap) * 2);
}

.post-content {
  margin-bottom: var(--content-gap);
}

.toggle-theme-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

.dark-theme {
  --font-color: #eee;
  background: #222;
}

.dark-theme body {
  background: #222;
  color: #eee;
}

.dark-theme .navbar_logo,
.dark-theme .navbar_menu a {
  color: #eee;
}

.footer {
  text-align: center;
  margin-bottom: calc(var(--content-gap) * 1.5);
}

footer a {
  color: white;
}
