:root {
  --logo-font-size: 1.2rem;
  --logo-font-color: black;
  --content-font-size: 1rem;
  --content-font-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
}

.navbar {
  display: flex;

  justify-content: center;
  align-items: center;

  font-size: var(--content-font-size);
  position: sticky;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  z-index: 1;

  height: 80px;
  width: 100%;
  max-width: 750px;

  margin: 0 auto;
  padding: 0 50px;
}

.navbar_logo {
  display: flex;
  align-items: center;

  font-size: var(--logo-font-size);
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.navbar_menu {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  padding: 0 1rem;
  font-size: var(--content-font-size);
}

.navbar_menu li {
  margin: 0 0.5rem;
}

.navbar_menu a {
  color: inherit;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}

/* @media screen and (max-width: 768px) {
  .navbar_container {
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
  }
  .navbar_logo {
    margin-bottom: 1rem;
  }
} */
